@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
background: #9053c7;
    background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
    background: linear-gradient(-135deg,#c850c0,#4158d0);
}

a {
	text-decoration: none;
	color: #0AC986;
}

.background{
width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.div1 {
	
	height: auto;
	position: absolute;
	padding: 30px 30px;
	background: #fff;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-bottom: 5px solid gray;
	border-radius: 15px;
	display: table;
}

.section1 {
	width: 65%;
	height: auto;
	padding: 1px 1px;
	display: table-cell;
}

.section2 {
	width: 35%;
	height: auto;
	padding: 1px 1px;
	display: table-cell;
}

.s2img {
	position: absolute;
	margin-top: 40px;
	width: 260px;
	height: 260px;
}

.s2img img {
	margin: auto;
	position: absolute;
	width: 100%;
	height: 100%;
}

.form {
	width: 100%;
	position: relative;
}

.input {
	position: relative;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"]
	{
	width: 200px;
	height: 30px;
	outline: none;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 15px;
	font-family: sans-serif, Arial;
}

.fa {
	position: relative;
	font-size: 18px;
	color: gray;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus,
	input[type="email"]:focus {
	border: 2px solid #0AC986;
}

input[type="submit"] {
	width: 80px;
	height: 40px;
	margin-left: 120px;
	background: #0AC986;
	font-family: sans-serif, Arial;
	font-size: 15px;
	color: #fff;
	outline: none;
	border-radius: 5px;
	border: 0px;
    cursor: pointer;
     background: #9053c7;
    background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
    background: linear-gradient(-135deg,#c850c0,#4158d0);
}

input[type="submit"]:hover {
   
     background: #9053c7;
    background: -webkit-linear-gradient(-135deg,#c560c0,#41f8d0);
    background: -o-linear-gradient(-135deg,#c560c0,#41f8d0);
    background: -moz-linear-gradient(-135deg,#c560c0,#41f8d0);
    background: linear-gradient(-135deg,#c560c0,#41f8d0);
}

p, label {
	font-family: sans-serif, Arial;
	color: gray;
	font-size: 14px;
	text-decoration: none;
}